body {
    font-family: sans-serif;
    background-image: linear-gradient(blue, green), url(../imagens/dibakar-roy-N52Ocwjia2s-unsplash.jpg);
    background-attachment: fixed;


}


h1 {
    text-align: center;
}


.cores {
    width: 80%;
    border: 8px dashed black;
    padding: 1em;
    margin: 20px auto;
}


.cores::before {
    content: counter(contador);
    /* Essa configuração define em criar um contador */
}



seciton {
    counter-reset: contador;
    /* Essa configuração define em criar um contador */
}



.cores {
    counter-increment: contador;
    /* Essa configuração define em criar um contador */
}