* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html,
body {
    height: 100%;
    font-family: sans-serif;
    background-color: #E3E2DE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Essas configurações colocou o titulo h1 em coluna com o container e centralizou lado a lado os blocos */
}







.listas {
    background-color: #F0F2F5;
    width: 500px;
    height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 2px 0 rgba(0.0.0.2);
    margin-top: 15px;
    /* Configuração aplicada em todo o bloco main */


}








.bloco {
    display: flex;
    border-bottom: 1px solid #E9E6DF;
    padding: 20px;
    /* Configuração aplicada nas li */


}





.bloco__imagem>img {
    width: 50%;
    border-radius: 50%;
    /* Configuração aplicada nas imagens dos perfis */
}





.bloco__contato {
    flex-grow: 1;
    /* configuração aplicada para o crescimento do bloco onde está o contato */

}





.bloco__name {
    font-size: 20px;
    color: #41525d;
    font-weight: 300;
    /* Configuração aplicada no name */

}





.bloco__email {
    color: #aaa;
    /* Configuração aplicada no e-mail */
}






.bloco__action {
    display: flex;
    gap: 10px;
    align-items: center;
    opacity: 0;
    /* Configuração aplicada nas imagens delete e edit */
    /* Efeito opacity */

}







ul:hover .bloco__action {
    opacity: .2;
    /* Efeito hover e opacity na ul e na class bloco__action*/
}




ul:hover {
    background-color: #b6bdbf73;
    /* Configuração aplicada na ul */
}








ul {
    list-style-type: none;


}