* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



    body {
        background-color: #ccc;
        color: green;
        font-family: sans-serif;
    }




h1 {
    padding-top: 1em;

}