* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





body {
    background-color: #9999;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






.switch span {
    display: inline-block;
    width: 4em;
    height: 2em;
    background-color: aqua;
    border-radius: 1em;
    margin-top: 1em;




}




.switch span::after {
    content: '';
    display: block;
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    transition: all .5s;
    transition-timing-function: cubic-bezier(0.01, -0.02, 0, 2.13);
    transition-delay: .1s;
    box-shadow: inset 2px 0px 4px rgba(0, 0, 0, .5), -2px 0px 2px rgba(0, 0, 0, .5);
    position: absolute;



}




.switch input:checked+span::after {
    transform: translateX(100%);


}