* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primer--color: #0C9ABE;
    --second--color: #ffffff;
}





body {
    font-family: "Roboto Flex", sans-serif;
    background-color: var(--primer--color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}





form {
    width: 30%;
    max-width: 28em;
    background-color: var(--second--color);
    box-shadow: -5px 0px 2px rgba(0, 0, 0, 0.322);

}




fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 1em 2em 2em;

}




legend {
    font-size: 2em;
    font-weight: 300;
    color: var(--primer--color);
    padding-top: 1em;
}





label {
    text-transform: capitalize;
    font-weight: 300;
    padding-top: 1em;
}





input {
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid var(--primer--color);
    outline: none;

}


p {
    font-size: 11px;
}



.action {
    display: flex;
    align-items: center;
    padding-top: 2em;
    gap: 85px;
}





.btn-primary {
    padding: 9px 14px;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--primer--color);
    color: var(--second--color);
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}