html {
    font-size: 65.5%;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --background-top-header: #162028;
    --texto-menu: #425564;
    --texto-link: #ccc;
    --cor-texto: #555;
    --cor-fundo-box: #003d52;
    --cor-fundo-footer: #0b171f;
    --cor-texto-footer: #6f8567;
    --cor-nome-imagem: #555252fb;
    --cor-hover-link: #ffff;
    --color-box: #B6B6B6;
    --color-texto: #ffff;



}




body {
    font-family: "Roboto", sans-serif;

}





.topo {
    display: flex;
    justify-content: space-around;
    background-image: url(../imagens/topo.jpg);
    background-size: cover;
    height: 800px;
}




nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 5em;
    gap: 5em;
}





nav ul li a {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--texto-link);
    text-transform: capitalize;
}





nav ul li a:hover {
    color: var(--cor-hover-link);
}




header h1 {
    font-family: "Belleza", sans-serif;
    margin-top: 1.5em;
    font-size: 2.8em;
    text-transform: uppercase;
    color: var(--texto-menu);
}




.principal h2 {
    text-align: center;
    font-family: "Belleza", sans-serif;
    font-size: 3em;
    color: var(--cor-texto);
}





.about h2 {
    font-family: "Belleza", sans-serif;
    font-size: 4em;
    padding: 2em;
    color: #B6B6B6;
    text-transform: uppercase;
    font-weight: 300;

}





.texto {
    display: inline-block;
    width: 68%;

}




.texto p {
    margin-left: 6em;
    font-size: 1.3em;
    line-height: 1.6em;
    letter-spacing: 1.5px;
    color: #ffff;
    text-align: justify;
    font-weight: 300;



}





.principal p {
    margin-top: 3em;
    font-size: 1.3em;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-weight: 300;
    align-items: justify;
}




.principal__sessao article p {
    text-align: center;
    margin-top: 1em;
    font-size: 1.5em;
    color: var(--cor-nome-imagem);
    font-weight: bold;
}





.principal {
    display: inline-block;
    width: 50%;
    margin-left: 45em;
    margin-top: 10em;
}





.principal__sessao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
    gap: 1em;

}






.about {
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 600px;
    background-color: var(--cor-fundo-box);
    margin-top: 10em;


}




footer {
    display: flex;
    justify-content: center;
    padding: 1.5em;
    background-color: var(--cor-fundo-footer);
    color: var(--cor-texto-footer);
    font-size: 1.2em;
    font-weight: 300;

}