html {
    font-size: 62.5%;
}




* {
    margin: 0;
    box-sizing: border-box;

}







:root {
    --primary-font-color: #FE5C16;
    --second-menu-color: #250707;
    --third-main-color: #EEE9E0;
    --forth-link-color: #361f1f;
    --fifith-cards-color: #ccc;

}








body {
    display: flex;
    font-family: "Roboto Serif", serif;
    color: hsl(0, 1%, 21%);
    min-height: 100vh;
    line-height: 1.7;
    overflow-x: hidden;

}







.menu {
    flex: 0 0 26rem;
    /* O primeiro 0 indica que o item não deve crescer além do seu tamanho base. */
    /* O segundo 0 significa que o item não deve encolher. */
    /* 26rem é a base de largura do item. Isso significa que o menu terá uma largura fixa de 26rem. */
    background-color: var(--second-menu-color);



}





.navegation {
    text-align: right;
    padding: 2.5rem;
}








.navegation ul {
    list-style-type: none;
    padding-top: 1.5em;
}






.navegation ul a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    display: block;
    padding: 2rem 0;

}






.navegation ul li {
    border-bottom: 1px solid;
    display: block;
    padding: .4rem 0;
}








.navegation ul a:hover,
.navegation ul a:focus {
    background-color: var(--forth-link-color);
    padding-right: 2rem;
}






.main-principal {
    background-color: var(--third-main-color);
    flex: 1 0;
    /* O primeiro valor 1 indica que o item pode crescer para ocupar espaço disponível no contêiner. */
    /* O segundo valor 0 significa que o item não deve encolher, ou seja, ele manterá seu tamanho base. */
    padding: 7rem;
    min-height: 100vh;


}







.main-principal h1 {
    font-size: 4rem;
    color: #7b7b7b;


}







.main-principal h2 {

    font-size: 2rem;
    color: var(--primary-font-color);

}






.main-principal h3 {
    font-size: 1.5rem;
    color: var(--primary-font-color);


}







.main-principal p {
    padding-top: 1rem;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}






.highlight {
    border-left: 1px solid var(--primary-font-color);
    padding-left: 2em;

}








.rede-socias {
    padding-top: 2rem;
}






.imagem-home {
    width: 10rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;

}




.cards_article1 {
    max-width: 640px;
    background-color: var(--fifith-cards-color);
}





.cards_article2 {
    background-color: var(--fifith-cards-color);
    max-width: 425px;
}




.cards_article3 {
    background-color: var(--fifith-cards-color);
    max-width: 316px;

}






.card_content {
    padding: .5em 1em 1em;

}






.card_content p,
h3 {
    margin: 0
}







.card_content h3 {
    font-size: 2rem;
}






.row {
    display: flex;
    gap: 1.5rem;
    padding-top: 1.5rem;
    justify-content: space-between;
}






.row>* {
    flex: 1 0 0%;
    /* flex-grow: 1;: Permite que os elementos cresçam para ocupar o espaço disponível dentro do contêiner flexível. Um valor de 1 significa que todos os filhos vão crescer igualmente. */

    /* flex-shrink: 0;: Impede que os elementos encolham quando o espaço disponível é menor que o necessário para todos os elementos. Isso significa que os elementos não vão ser comprimidos. */

    /* flex-basis: 0%;: Define o tamanho inicial dos elementos antes que o espaço extra seja distribuído. Um valor de 0% faz com que todos os elementos comecem sem ocupar espaço, permitindo que o flex-grow determine o tamanho final. */
}





.alternate {
    list-style-type: none;
}




.alternate li:not(:last-child) {
    border-bottom: 1px solid;
    /* Essa configuração define colocar uma borda nas LI exceto no ultimo filho */
}





.list-emoji {
    list-style-type: "\1F643";
}



input,
label,
textarea,
select {
    width: 100%;
}






input,
textarea,
select {
    padding: 1.2rem;
    background-color: #ccc;
    border-radius: 5px;
    border: none;
    margin-bottom: 1.2rem;
}





.end {
    margin-top: 1.6rem;
}





.btn {
    background-color: var(--second-menu-color);
    color: var(--third-main-color);
    font-size: 1.2rem;
}






.btn:hover {
    background-color: #2507076e;
    cursor: pointer;
}




/* input[type="radio"]{
     width: auto;
} */







section {
    margin-bottom: 1rem;
}










.underline {
    text-decoration: red wavy underline;
}