body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #dddddd;
}



p {
    font-size: 14px;
}






h1 {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    background-color: #ccc;
    color: #4b4646dd;
}






h2 {
    background-color: rgba(178, 178, 190, 0.527);
    color: #4b4646dd;
    padding: 10px;
    border-bottom: 2px solid #4b4646dd;
    border-radius: 3px;

}





h3 {
    font-size: 14px;
    text-align: center;
    padding-top: 2px;
    color: #838181;
    font-weight: 100;

}




ul {
    padding-left: 0;
    list-style-position: inside;
    list-style-type: circle;

}




ul li{
    font-size: 13px;
}


a {
    font-weight: bold;
    text-decoration: none;



}


a:hover {
    background-color: rgba(153, 205, 50, 0.582);
    padding: 5px;
}





a:visited {
    color: rgba(240, 119, 119, 0.37);
}