*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin-top: 5em;
}


.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



main{
    
}