body {
    background-color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}





.clip-path>div {
    width: 300px;
    height: 300px;
    background-image: repeating-linear-gradient(45deg, yellow 10%, orange 20%);
    margin: 1em;
}


#d1 {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%)
        /* Essa configuração Define um triângulo com três vértices:
       (0% 0%): O canto superior esquerdo do elemento.
       (100% 0%): O canto superior direito do elemento.
       (0% 100%): O canto inferior esquerdo do elemento. Clip-path é usado para criar máscara*/
}



#d2 {
    clip-path: circle(10% at center);
    /* Define uma área de recorte em forma de círculo.
    10% É o raio do círculo, que será 10% do menor lado do elemento (altura ou largura).
    Isso significa que o círculo será proporcional ao tamanho do elemento. at center Define a posição do círculo como o centro do elemento. */
}


#d3 {
    clip-path: ellipse(50% 40px at center);
    /* Define ellipse: Especifica uma forma elíptica como área de recorte.
    50%: Representa o raio horizontal da elipse. Ele é relativo à largura do elemento.
    40px: Representa o raio vertical da elipse em pixels. */
}



#d4 {
    clip-path: inset(50px 30px 40px 50px);
    /* Define o quanto o recorte deve afastar-se de cada borda do elemento (como o padding):
    50px (top): O recorte começa 50px abaixo da borda superior.
    30px (right): O recorte entra 30px a partir da borda direita.
    40px (bottom): O recorte entra 40px a partir da borda inferior.
    50px (left): O recorte entra 50px a partir da borda esquerda. */
}



#d5 {
    clip-path: inset(30px round 50px 20px 10px 25%);
    /* inset(30px): Define a quantidade de recorte para dentro das bordas do elemento. Esse valor base é aplicado uniformemente em todos os lados. round 50px 20px 10px 25%:
    Adiciona bordas arredondadas ao retângulo criado. Esses valores seguem a ordem padrão do CSS para bordas:
    50px: raio do canto superior-esquerdo.
    20px: raio do canto superior-direito.
    10px: raio do canto inferior-direito.
    25%: raio do canto inferior-esquerdo (em porcentagem em relação ao tamanho do elemento). OBS: essas configurações sempre vai aplicar primeiro valor na parte horizontal e o segundo valor na parte vertical  */

}



#d6 {
    clip-path: polygon(2% 100%, 100% 0, 51% 100%, 48% 0);
    /* Aqui eu usei um gerador de clip-path em em site para facilitar */
}