body {
    background-color: #F1E6EF;
    font-family: sans-serif;
    margin: 200px auto;
    



}




.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}



.column {
    width: 450px;
    height: 250px;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(0,0,0, .3);
}



.title {
    text-align: center;
    text-transform: capitalize;
    color: purple;
}




p {
    padding: 1em .9em;


}