* {
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
}


:root {
    --first--color: #6A5ACD;
    --second--color: #ffff;
    --default--gap: .9em;

}



body {
    font-family: sans-serif;

}



.maxWidth {
    max-width: 70.25em;
    /* 70.25em corresponde a 1124px */

}



.top_header {
    text-align: center;
    /* Aqui centralizei todo meu header */
}



.top_header_nav {
    background-color: var(--first--color);
    padding: .5em;
    /* Aqui apliquei uma cor de fundo na nav, e dei um espaço interno dentro da nav */
}


.top_header_nav ul {
    list-style-type: none;
    /* Aqui tirei os bullet da ul */
}


.top_header_nav a {
    text-decoration: none;
    color: var(--second--color);
    display: block;
    padding: 1em;
}


.top_header_nav li:hover {
    background-color: color-mix(in srgb, var(--first--color), var(--second--color) 10%);

}


.heroBanner {
    text-align: center;
    background-color: rgb(213, 215, 216);
    padding: 1.5em;

}



.heroBanner_iconPlay {
    width: 5em;
    height: 5em;
    display: none;
    /* Essa configuração define a largura e altura do container com 80px */
}



.heroBanner_title {
    color: var(--first--color);
    font-family: "Playfair Display SC", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    padding: 1em;
}



.heroBanner_subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
    font-weight: 300;
    color: #9370DB;
    line-height: 1.3em;
}


.heroBanner_btn {
    display: inline-block;
    background-color: rgb(130, 161, 161);
    padding: .80em 1.5em;
    text-decoration: none;
    border-radius: 5px;
    color: #ffff;
    margin-top: 1.2em;

}



/* Media queries */


@media screen and (min-width: 50em) {

    /* 50em corresponde a 800px */
    .top_header {
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .top_header_nav li {
        display: inline-block;
        /* Aqui apliquei um display: inline-block para por as li uma ao lado da outra em linha */
    }

    .top_header_nav a {
        color: #000000;

    }

    .top_header_nav a:hover {
        background-color: #ccc6f7;
        transition: 2s ease-in-out;
        /* Essa configuração tranition define a transição , 2 segundos define a duração da transição, ease-in-out define aceleração e desaceleração suave. */

    }


    .top_header_nav {
        background-color: initial;
        /* Essa configuração reseta ao valor padrão do css que é o background-color: transparent */
    }


    .heroBanner {
        background-color: var(--first--color);
    }

    .heroBanner_iconPlay {
        display: block;
        margin: auto;
        /* Essa configuração com o display: block faz com que a imagem icon saia do display: none e volte aparecer. */
    }

    .heroBanner_title {
        color: #ddd;
    }


    .heroBanner_subtitle {
        color: #ddd;
    }
}


@media screen and (min-width: 56.25em) {

    /* 56.25em corresponde a 900px */
    .heroBanner {
        background-image: url(../images/bg_topo_1198x670.jpg);
        aspect-ratio: 1198 / 670;
        /* Essa configuração aspect-ratio faz com que o elemento aumente na mesma proporção */
        background-repeat: no-repeat;
        background-size: cover;
    }

    .heroBanner {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        /* Toda essa configuração foi para centralizar o heroBanner e descer mas como o elemento  */

    }

    .heroBanner .maxWidth {
        width: 70%;
        /* Essa confiuração diminui em 70% o container maxWidth */

    }


}



@media screen and (min-width: 71.875em){
    /* 71.875em correnponde a 1185px */
    .heroBanner{
        background-image: url(../images/bg_topo_1600x1374.jpg);

    }
}