* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --first--color: #6A5ACD;
    --second--color: #ffff;

}



body {
    font-family: sans-serif;
}



.maxWidth {
    max-width: 70.25em;
}



.top_header {
    text-align: center;
}



.top_header_nav {
    background-color: var(--first--color);
}


.top_header_nav ul {
    list-style-type: none;
    margin-bottom: 0;
    
}


.top_header_nav a {
    text-decoration: none;
    color: var(--second--color);
    display: block;
    padding: 1em;
}


.top_header_nav li:hover {
    background-color: color-mix(in srgb, var(--first--color), var(--second--color) 10%);

}


.heroBanner {
    text-align: center;
    background-color: rgb(213, 215, 216);
    padding: 1em;
}



.heroBanner_iconPlay {
    width: 5em;
    height: 5em;
    display: none;
    /* Essa configuração define a largura e altura do container com 80px */

}






/* Media queries */


@media screen and (min-width: 50em) {
    .top_header {
        display: flex;
        justify-content: space-between;
        margin: auto;

    }


    .top_header_nav li {
        display: inline-block;
    }


    .top_header_nav a {
        color: #000000;

    }


    .top_header_nav a:hover {
        background-color: #ccc6f7;
        transition: 2s ease-in-out;

    }


    .top_header_nav {
        background-color: initial;
        /* Essa configuração reseta ao valor padrão do css que é o background-color: transparent */
    }
}