* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --first--color: #6959CD;
    --second--color: #ddd;
}



/* MEDIA QUERIES */


/* Essa medIa queries corresponde a 800px */

@media screen and (min-width: 50em) {
    .top_header {
        display: flex;
        justify-content: space-between;
        padding: 1.5em;

    }


    .top_header_nav ul li {
        display: inline-block;
    }


    .top_header_nav {
        background-color: initial;
    }



    .top_header_nav a {
        color: var(--first--color)
    }


    .top_header_nav a:hover {
        background-color: color-mix(in srgb, var(--first--color), #ddd 70%);

    }

  
    .row{
        display: grid;
        grid-template-rows: 100px 100px 100px 100px;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        

    }


  
  
     
  
}


/* Essa media queries corresponde a 800px */


@media screen and (min-width: 50em) {
    .heroBanner {
        background-color: var(--first--color);
    }


    .heroBanner_title {
        color: var(--second--color);
        padding-top: .9em;
    }


    .heroBanner_subtitle {
        color: var(--second--color);
    }


    .heroBanner_iconPlay {
        display: block;
        width: 3em;
        height: 3em;
        margin: auto;

    }


}





/* Essa media queries correnponde a 1000px */
@media screen and (min-width: 62.5em) {
    .heroBanner {
        background-image: url(../images/bg_topo_1198x670.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: 1198 / 670;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }


    .heroBanner .maxWidth {
        width: 100%;
    }
}


/* Essa media queries correnponde a 1180px */
@media screen and (min-width: 73.75em) {
    .heroBanner {
        background-image: linear-gradient(transparent, var(--first--color)), url(../images/bg_topo_1600x1374.jpg);
        max-height: 80vh;
        width: 100%;
        /* Função dessa configuração Define a altura máxima do elemento .heroBanner como 80% da altura da janela de visualização (viewport). Isso faz com que o elemento ocupe até 80% da altura da tela, mas não mais do que isso, mesmo que a altura do conteúdo interno seja maior.
        width: 100%;:
        Define a largura do .heroBanner para ocupar 100% da largura da tela (ou do seu contêiner pai). */
        background-blend-mode: multiply;
    }



}