* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --first--color: #6959CD;
    --second--color: #ddd;
}



body {
    font-family: sans-serif;
}


h1,
h2,
h3,
h4 {
    font-family: "Ubuntu Sans Mono", serif;
}

.maxWidth {
    max-width: 70.25em;
    margin: auto;

}



.top_header {
    text-align: center;

}


.top_header_nav {
    background-color: var(--first--color);
   

}



.top_header_nav ul {
    list-style: none;

}



.top_header_nav a {
    text-decoration: none;
    color: var(--second--color);
    display: block;
    padding: 1.5em;
}



.top_header_nav li:hover {
    background-color: color-mix(in srgb, var(--first--color), #ffff 10%);
}



.heroBanner {
    background-color: var(--second--color);
    text-align: center;
    padding: 1.5em;
    
}



.heroBanner_iconPlay img {
    width: 100%;
}


.heroBanner_iconPlay {
    display: none;
    width: 5em;
    height: 5em;
}


.heroBanner_title {
    font-size: 1.5;
    color: var(--first--color);
    font-weight: 700;
    padding-bottom: .4em;
}


.heroBanner_subtitle {
    font-size: 1.2em;
    font-weight: normal;
    padding-top: .3em;
    color: #483D8B;
    line-height: 1.3em;

}



.heroBanner_btn {
    display: inline-block;
    margin: 1.5em 0;
    text-decoration: none;
    text-transform: capitalize;
    background-color: rgb(77, 151, 126);
    padding: 1em 1.5em;
    color: #ffff;
    border-radius: 5px;
}