*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



article.card{
    border: 2px solid #999;
}


.card-header img{
    display: block;
    width: 100%;
   

 
}


.card-body{
    padding: 2em;
    background-color: #ccc;
   
    
}



.card-body p{
    margin: .5em;
}



.card-btn{
   text-decoration: none;
   text-transform: uppercase;
   background-color: darkgreen;
   padding: .75em 1em;
   color: #ffff;
   display: inline-block;
   border-radius: 5px;
}