* {
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
}



:root {
    --first-header-color: #2B3639;
    --second-font-color: #1E2628;
    --third-houver-color: #252E31;
    --forth-font-header-color: #0C9ABE;
    --fifth-font-h2-h3-h4-color: #FF8C00;
    --sixth-cards-color: #7b7b7b85;
}




body {
    display: flex;
    color: var(--second-font-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;


}




.menu-header {
    flex: 0 0 26rem;
    /*  flrx-grow: 0; define que o .menu-header não irá crescer além do seu tamanho inicial, mesmo que haja espaço disponível no contêiner, flex-shrink: 0; Configura que o elemento não diminuirá de tamanho mesmo que o espaço no contêiner seja reduzido, flex-basis: 26rem; Define o tamanho base (largura) do elemento como 26rem. Isso significa que o .menu-header terá um tamanho fixo de 26rem; */
    background-color: var(--first-header-color);
}




.navegation {
    text-align: right;
    padding: 6rem 1rem 8rem;
    /* Essa configuração define 60px no topo, 10px nas laterais esquerda e direita, e 80px na parte inferior bottom*/

}




.navegation ul {
    list-style-type: none;
    padding: 2rem;
}




.navegation ul a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--forth-font-header-color);
    font-size: 1.3rem;
    transition: padding-right .2s, background-color .4s;
    /* Define uma transição suave para as propriedades padding-right (por 0,2 segundos) e background-color (por 0,4 segundos). Isso significa que se esses valores mudarem, a alteração será animada. */


}






.navegation li {
    border-bottom: 1px solid #7b7b7b;
    padding: .4rem 0;

}






.highlight1 {
    border-left: 1px solid var(--fifth-font-h2-h3-h4-color);
    font-size: 1.2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;

}




.highlight2 {
    padding: 1rem 0;
    /* Aqui foi definido essa configuração para dar um respiro nos elementos dentro do article */
}






main h1 {
    font-size: 4rem;
    color: var(--fifth-font-h2-h3-h4-color);
    padding-top: 5rem;
    margin-bottom: 2.5rem;
}




h2 {
    color: var(--fifth-font-h2-h3-h4-color);

}



h3 {
    color: var(--fifth-font-h2-h3-h4-color);
    font-size: 1.4rem;
}



h4 {
    color: var(--fifth-font-h2-h3-h4-color);
    font-size: 1.3rem;
}





.rede-socias {
    padding-top: 2rem;

}




p {
    padding-top: .9rem;
    font-size: 1.3rem;

}





.perfil {
    width: 25%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;


}





.main-principal {
    flex: 1 0;
    /* Aqui foi definido que o flex-grow: 1; vai crescer na medida que tiver espaço, flex-shrink: Define que o elemento não vai encolher. */
    padding-left: 5rem;

}



.navegation ul li a:hover,
.navegation ul li a:focus {
    background-color: var(--third-houver-color);
    padding-right: 1.5rem;
}




.article_cards {
    max-width: 640px;
    background-color: var(--sixth-cards-color);


}




.article_cards3 {
    max-width: 423px;
    background-color: var(--sixth-cards-color);
}






.article_cards4 {
    max-width: 316px;
    background-color: var(--sixth-cards-color);
}




.card_content {
    padding: .7rem 1rem;
}




.card_title {
    font-size: 2rem;
}



.row {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}



a:hover {
    color: brown;
}