* {
    margin: 0;
    box-sizing: border-box;
}





:root {
    --primeira-color: #ff7833;
    --segunda-color: #0C9ABE;
    --main-header-color: #2B3639;
    --header-houver-color: #06c5f5;

}



body {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    color: #6e6d6d;
    background-color: #ccc;

}


h1 {
    font-size: 2.5em;
    color: var(--primeira-color);
    padding-bottom: 1em;
}




h2,
h3,
h4 {
    color: var(--segunda-color);
    padding: .5em 0;
}


p {
    padding: .5em 0;
}



.perfil-img {
    width: 40%;
    aspect-ratio: 1 / 1;
    /* Essa configuração aspect-ratio: 1 / 1; Mantém a proporção da imagem em 1:1, ou seja, a imagem será quadrada. */
    object-fit: cover;
    /* Quando você usa object-fit: cover, a imagem é redimensionada para cobrir completamente o contêiner. Isso significa que a imagem será dimensionada de forma a preencher toda a área do contêiner,  cortando as partes que excedem as bordas, se necessário.  */
    border-radius: 50%;
    margin-bottom: 1em;

}




.main-header {
    flex: 0 0 15em;
    /* 0 (flex-grow): O elemento .main-header não crescerá para ocupar mais espaço disponível no contêiner. */
    /* 0 (flex-shrink): O elemento .main-header não diminuirá de tamanho, mesmo que o contêiner tenha menos espaço disponível. */
    /* 25rem (flex-basis): Define o tamanho base do elemento como 25rem. Ou seja, independentemente do tamanho do contêiner pai, .main-header terá sempre uma largura (ou altura, dependendo da direção do contêiner flex) de 25rem. */
    background-color: var(--main-header-color);
}




.main {
    padding: 5em 4.5em;
    background-color: #ccc;

}




.main-nav {
    text-align: right;
    padding: 2em 1.5em;
}



.main-nav ul {
    list-style: none;
}



.main-nav ul a {
    display: block;
    padding: 1.5em;
    color: var(--segunda-color);
    text-decoration: none;
}



.main-nav a:hover {
    color: var(--header-houver-color);
    transition: 1s;
}




.main-nav li {
    border-bottom: 1px solid #e7e7e7;

}



a {
    color: inherit;
}


.rede_sociais {
    display: flex;
    padding-top: 1.5em;
    gap: 1.5em;
}