* {
    margin: 0;
    box-sizing: border-box;
}



html {
    font-size: 62.5%;
}



:root {
    --first-header-color: #2B3639;
    --second-font-color: #1E2628;
    --third-houver-color: #252E31;
    --forth-font-header-color: #0C9ABE;
}




body {
    display: flex;
    color: var(--second-font-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;

}




.menu-header {
    flex: 0 0 26rem;
    /*  flrx-grow: 0; define que o .menu-header não irá crescer além do seu tamanho inicial, mesmo que haja espaço disponível no contêiner, flex-shrink: 0; Configura que o elemento não diminuirá de tamanho mesmo que o espaço no contêiner seja reduzido, flex-basis: 26rem; Define o tamanho base (largura) do elemento como 26rem. Isso significa que o .menu-header terá um tamanho fixo de 26rem; */
    background-color: var(--first-header-color);
}




.navegation {
    text-align: right;
    padding: 4.5rem 2.4rem 2.4rem;

}




.navegation ul {
    list-style-type: none;
    padding: 2rem;
}




.navegation ul a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--forth-font-header-color);
    font-size: 1.6rem;
}





.perfil {
    width: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}





.main-princiapl {
    flex: 1 0;
    /* Aqui foi definido que o flex-grow: 1; vai crescer na medida que tiver espaço, flex-shrink: Define que o elemento não vai encolher. */

}





a {
    color: inherit;
    /* Aqui estou erdando a cor do body para os links */

}



.navegation ul li a:hover {
    background-color: var(--third-houver-color);
   

}